body {
  background-color: #ecfcfc;
  height: 150vh;
}
.main___containerOne {
  background-color: #f1f8f8;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.secondary__container {
  display: inline-block;
  margin: 10px;
  max-width: 415px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  align-content: center;
  justify-content: center;
}
.secondary__container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  -moz-transition: -moz-transform all 0.35s ease;
  -ms-transition: -ms-transform all 0.35s ease;
  transition: all 0.35s ease;
  
}

.secondary__container h5 {
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 15px 10px;
  text-transform: uppercase;
  color: #1fc21c;
  
}

.secondary__container:before,
.secondary__container:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: grey;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: "";
  opacity: 0.5;
  z-index: 1;
    -webkit-box-shadow: 0 0 5px #000000;
      box-shadow: 0 0 5px #000000;
 
}

.secondary__container:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.secondary__container:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.secondary__container img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
  
}


.secondary__container figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #e70f0f;
  box-shadow: 0 0 10px #ed0909;
}

.secondary__container a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  
}

.secondary__container:hover > img,
.secondary__container.hover > img {
  opacity: 0.5;
}

.secondary__container:hover:before,
.secondary__container.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.secondary__container:hover:after,
.secondary__container.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.secondary__container:hover figcaption,
.secondary__container.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.main___containerTwo {
  display: flex;
  margin-top: 50px;
  border-radius: 90px;
  height: 60vh;
  background-color: #ffffff;
}

